@model string

<div class="card shadow p-4">
    <h3>Welcome, @Model 👋</h3>
    <p>You are logged in successfully!</p>
</div>
<style>
    <link rel="stylesheet" href="~/css/_GlobalStyle.css" / >
</style>